.product {
  width: 225px;
  padding: 10px;
  border: 2px solid;
  border-radius: 12px;
  color: white;
  background-color: rgb(112, 119, 211);
  text-shadow: 1px 1px 1px black;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.product h3 {
  font-size: 30px;
  margin-top: 5px;
}

.label {
  margin-top: -20px;
}
